
.form-control {
  width: 700px;
  text-align: center;
}

#opacity {
position: absolute;
width: 100%;
height: 350px;
z-index: 0;
object-fit: cover;
background-color: black;
opacity: 0.4;
}

#background {
  position: absolute;
  width: 100%;
  height: 350px;
  z-index: -1;
  object-fit: cover;
}


#meet {
  margin-top: -40px;
  text-align: center;
  color: white;
  font-size: 1100%;
}

#name {
  margin-left: -30px;
  margin-top: -60px;
  text-align: center;
  color: white;
  font-size: 650%;
}

#marker {
  display: inline;
  align-content: center;
  width: 110px;
  height: 110px;
}

#middle {
  margin-top: -60px;
  text-align: center;
  color: white;
  font-size: 850%;
}

#slogan {
  margin-top: -5px;
  margin-bottom: 20px;
  text-align: center;
}

#submit {
  width: 300px;
  height: 43px;
}

#results {
  display: none;
  height: 800px;
  margin-top: 70px;
  background-color: #f5f5f5;
}

#title {
  text-align: center;
  font-size: 500%;
}

#map {
  width: 80%;
  margin-top: 40px;
  height: 300px;
}

.restaurant-name {
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
}

.restaurant-image {
  margin-top: 5px;
  margin-bottom: 10px;
  height: 120px;
  width: 120px;
}

.restaurant-address {
  text-align: center;
  margin-bottom: -5px;
}

.share-location {
  margin-top: 5px;
  text-align: center;
}